<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="EUC-JP" />
    <title>城南コベッツ赤羽南教室(アクセスエラー)</title>
    <meta name="copyright" content="Copyright XSERVER Inc.">
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/btn.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page_not_found.css') }}">
</head>

<body>
    <div id="base">
        <h1>
            <school_name>城南コベッツ赤羽南教室</school_name>
        </h1>
        <h1>アクセスエラー</h1>
        <h2>アクセスしようとしたページを表示できませんでした。</h2>
        <div class="return_top">
            <p class="msr_btn04">
                <a class="round_btn" href="/p_pp_test">トップに戻る</a>
            </p>
        </div>
    </div>
</body>

</html>